.ant-table-thead > tr > th,
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-modal-body {
	background-color: #f7fafc;
}

.ant-table-tbody > tr.ant-table-row:hover {
	cursor: pointer;
}

.ant-table-container table > thead > tr:first-child th:first-child:not(.ant-table-selection-column),
.ant-table-container table > tbody > tr > td:first-child:not(.ant-table-selection-column) {
	padding-left: 20px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: transparent;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
	padding: 8px;
}

.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
	padding: 0;
}

.ant-pagination {
	padding: 0 1.25rem;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
	height: auto;
	line-height: 1.5;
}

